@Model Management
@{
    Layout = null;
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">FriendsInfo</h4>
    </div>
<div id="test">@Model.performer</div>
    <hr />
        <div id="editscreenjazz">
            <table>
                <tr>
                    <td>@Model.performer</td>
                    <td><input type="text" name="company" form="my_form" /></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td><input type="text" name="company" form="my_form" /></td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td><input type="text" name="company" form="my_form" /></td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td><input type="text" name="company" form="my_form" /></td>
                </tr>
                <tr>
                    <td>Venue</td>
                    <td><input type="text" name="company" form="my_form" /></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="text" name="company" form="my_form" /></td>
                </tr>
                <tr>
                    <td>Comments</td>
                    <td><input type="text" name="company" form="my_form" /></td>
                </tr>
            </table>
</div>  
