@{
    ViewBag.Title = "Home Page";
}
<div class="block home-block">
    <img src="~/Content/img/home/home historic.jpg" class="home-event-image" />
    <img src="~/Content/img/home/title historic.png" class="home-title-image" />
</div>
<div class="block home-block">
    <img src="~/Content/img/home/home dinner.jpg" class="home-event-image" />
</div>
<div class="block home-block">
    <img src="~/Content/img/home/home jazz.jpg" class="home-event-image" />
</div>
<div class="block home-block">
    <img src="~/Content/img/home/home talking.jpg" class="home-event-image" />
</div>