@{
    ViewBag.Title = "Home Page";
}
<div class="block home-block" id="home-historic">
    <a href="~/Historic/Index">
        <img src="~/Content/img/home/title historic.png" class="home-title-image" />
        <img src="~/Content/img/home/more info.png" class="home-more-info" />
    </a>
</div>

<div class="block home-block" id="home-dinner">
    <a href="~/Dinner/Index">
        <img src="~/Content/img/home/title dinner.png" class="home-title-image" />
        <img src="~/Content/img/home/more info.png" class="home-more-info" />
    </a>
</div>

<div class="block home-block" id="home-jazz">
    <a href="~/Jazz/Index">
        <img src="~/Content/img/home/title jazz.png" class="home-title-image" />
        <img src="~/Content/img/home/more info.png" class="home-more-info" />
    </a>
</div>

<div class="block home-block" id="home-talking">
    <a href="~/Talking/Index">
        <img src="~/Content/img/home/title talking.png" class="home-title-image" />
        <img src="~/Content/img/home/more info.png" class="home-more-info" />
    </a>
</div>